@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
	background-color: black;
}

h1 {
	font-family: "Rye", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: rgb(107, 15, 15);
	background-color: rgb(246, 196, 126);
}

h2 {
	font-family: "Rye", serif;
	text-align: center;
	background-color: rgb(246, 196, 126);
	color: rgb(107, 15, 15);
}

#intro {
	font-family ;
	text-align: center;
	height: 200px;
	width: 200px;
	background-color: ;
}