@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
	font-family: pokemon;
	src: url(font/pokemon.ttf);
}

body {
	background-image: url(pics/stars.gif);
	background-repeat: repeat;
	background-size: auto;
	background-attachment: fixed;
	font-family: pokemon;
	font-style: normal;
	font-size: small;
	color: rgb(249, 249, 249);
	line-height: 140%;
}

h1, h2 {
	text-align: center;
}

.content {
	/* font-family: "VT323", monospace; */
	width: 1100px;
  	margin: 0 auto;
  	display: flex;
  	padding-left: 10px;
  	padding-right: 10px;
  	border-radius: 10px;
}

.nyan {
	padding-right: 45px;
	padding-left: 45px;
}

#img1 {
	height: 300px;
	float: left;
	position: relative;
	right: 11px;
	top: 5px;
	padding: 2px;
	padding-bottom: 5px;
	display: block;
}

#home {
	/* font-family: "VT323", monospace; */
	border: 1px solid white;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 20px;
	border-bottom: 0px;
	background-color: rgba(114, 139, 237, 0.3);
}

#heading1 {
	position: relative;
	left: 15px;
	top: 15px;
	padding: 20px;
}

.blue {
	padding-left: 20px;
}

#heading2 {
	position: relative;
	left: 57px;
	top: 35px;
}

#exheading {
	position: relative;
	left: 70px;
	top: 20px;
}

#exlist {
	list-style: "✦ ";
}

.sidebox {
	margin-top: 17px;
  	position: relative;
 	height: fit-content;
}

.exbar {
	width: 160px;
	margin-top: 5px;
	float: left;
  }
  
  .navbar {
	padding: 5px;
	border: 1px solid white;
	border-radius: 20px;
	text-align: left;
	background-color: rgba(209, 137, 233, 0.3);
	height: 130px;
	width: 200px;
	overflow-x: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
  }

#facts-component {
	position: absolute;
	top: 800px;
	left: 400px;
}

#aboutheading {
	position: relative;
	top: 40px;
	left: 30px;
}

#facts {
	border: 1px solid white;
	text-align: center;
	width: 700px;
	height: 400px;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 20px;
	border-bottom: 0px;
	background-color: rgba(114, 139, 237, 0.3);
}  