@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
	background-image: url(pics/dvd.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: rgb(54, 81, 213);
}

h2 {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: rgb(54, 81, 213);
}

#img1 {
	height: 300px;
	float: left;
	position: relative;
	right: 12px;
	border: 5px solid black;
	border-radius: 15px;
	padding: 0x;
}

#home {
	font-family: "VT323", monospace;
	font-style: normal;
	font-size: medium;
	color: rgb(249, 249, 249);
	text-align: center;
	width: 600px;
	margin: 0 auto;
	border-radius: 5px;
	padding: 10px;
	background-color: transparent;
}